<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/errors/500-100error.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp>
                <network host="localhost" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
